<div class="roomDesign" id="righty">
  <h4 class="my-h4" id="my-title">Room details</h4>
  <table class="table table-hover my-table">
      <thead>
        <tr>
            <th><button class="btn btn-outline-primary btn-color btn-sm" (click)="navigateToRoomEdit()">Edit</button> <button class="btn btn-warning btn-sm" id="space">Delete</button> </th>
            <th></th>
        </tr>
      </thead>
      <tbody *ngIf="room">
        <tr>
          <td><i>Name</i></td>
          <td>{{room.name}}</td>

        </tr>
        <tr>
          <td><i>Location</i></td>
          <td>{{room.location}}</td>

        </tr>
      </tbody>
  </table>
  <h5 class="my-h5">This room can acomodate</h5>
  <table class="table table-sm">
          <tr *ngFor="let layoutCapacity of room.layouts">
              <td class="row-layouts"><i>{{layoutCapacity.layout.name}}</i></td>
              <td>{{layoutCapacity.capacity}}</td>
            </tr>
  </table>

</div>
