<div class="roomDesign" id="righty">
  <h4 class="my-h4" id="my-title">Room details</h4>
  <table class="table table-hover my-table">
      <thead>
        <tr>
            <th><button class="btn btn-outline-primary btn-color btn-sm" (click)="navigateToRoomEdit('Edit')">Edit</button> <button class="btn btn-warning btn-sm" id="space">Delete</button> </th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i>Name</i></td>
          <td>Blue meeting room</td>

        </tr>
        <tr>
          <td><i>Location</i></td>
          <td>2nd floor</td>

        </tr>
      </tbody>
  </table>
  <h5 class="my-h5">This room can acomodate</h5>
  <table class="table table-sm">
          <tr>
              <td><i>Ushape</i></td>
              <td>12</td>
            </tr>
          <tr>
              <td><i>Theater</i></td>
              <td>8</td>
          </tr>

  </table>
</div>
